<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <script src="./contact.js" defer></script>
    <title>UpMeet</title>
</head>
<style>
    .featurette-divider {
        margin: 0 5rem;
        margin-top: 30px;
        margin-bottom: 30px
    }

    .form {
        margin: 20px;
    }

    .row {
        margin: 0 8rem;
    }

    @import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

    body {
        /* background: linear-gradient(0deg, #fff, 50%, #DEEEFE); */
        font-family: 'Rubik', sans-serif;
        /* background: #cdd6da; */
        height: 100 !important
    }

    .container-fluid {
        overflow: hidden;
        margin-top: 250px;
        background: #262626;
        color: #627482 !important;
        margin-bottom: 0;
        padding-bottom: 0
    }

    small {
        font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
    }

    .bold-text {
        color: #989c9e !important
    }

    .mt-55 {
        margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
    }

    h3 {
        font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
    }

    .social {
        font-size: 21px !important
    }

    .rights {
        font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
    }
</style>

<body>


    <div class="contain">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <a href="./index.html"> <img src="./Free_Sample_By_Wix.jpg" alt="" width="70px"></a>
                </a>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item active">
                            <a class="nav-link" href="./index.html" style="color: white;"> <b>Home</b>
                                <span class="sr-only"></span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="./about.html" style="color: white;"><b>About </b> </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="./contact.html" style="color: white;"><b>Contact Us</b></a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>

        <!-- form -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
            id="bootstrap-css">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <div class="contact-us my-5">
            <div class="container my-5">
                <div class="contact-form my-5">
                    <div class="row">
                        <div class="col-sm-7">
                            <form id="ajax-contact" method="post" action="contact-form-mail.php" role="form">
                                <div class="messages" id="form-messages"></div>
                                <div class="controls">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_name">Firstname *</label>
                                                <input id="form_name" type="text" name="name" class="form-control"
                                                    placeholder="Please enter your firstname *" required="required"
                                                    data-error="Firstname is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_lastname">Lastname *</label>
                                                <input id="form_lastname" type="text" name="surname"
                                                    class="form-control" placeholder="Please enter your lastname *"
                                                    required="required" data-error="Lastname is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_email">Email *</label>
                                                <input id="form_email" type="email" name="email" class="form-control"
                                                    placeholder="Please enter your email *" required="required"
                                                    data-error="Valid email is required.">
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label for="form_phone">Phone*</label>
                                                <input id="form_phone" type="tel" name="phone" class="form-control"
                                                    placeholder="Please enter your phone*" required
                                                    oninvalid="setCustomValidity('Plz enter your correct phone number ')"
                                                    onchange="try{setCustomValidity('')}catch(e){}">

                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label for="form_message">Message for us *</label>
                                                <textarea id="form_message" name="message" class="form-control"
                                                    placeholder="Message for me *" rows="4" required="required"
                                                    data-error="Please,leave us a message."></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <input type="submit" class="btn btn-success" value="Send message">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <br>
                                            <small class="text-muted"><strong>*</strong> These fields are
                                                required.</small>
                                        </div>
                                    </div>
                                </div>

                            </form>

                        </div>
                        <div class="col-sm-5">
                            <div class="row col1">
                                <div class="col-xs-3">
                                    <i class="fa fa-map-marker" style="font-size:16px;"></i>   Address
                                </div>
                                <div class="col-xs-9">
                                    One Gateway Center, Suite 25500+,<br> Newark 23, NJ 10235
                                </div>
                            </div>

                            <div class="row col1">
                                <div class="col-sm-3">
                                    <i class="fa fa-phone"></i>   Phone
                                </div>
                                <div class="col-sm-9">
                                    +(91) 123 277 4239
                                </div>
                            </div>
                            <div class="row col1">
                                <div class="col-sm-3">
                                    <i class="fa fa-fax"></i>   Fax
                                </div>
                                <div class="col-sm-9">
                                    123 123 4567
                                </div>
                            </div>
                            <div class="row col1">
                                <div class="col-sm-3">
                                    <i class="fa fa-envelope"></i>   Email
                                </div>
                                <div class="col-sm-9">
                                    <a href="mailto:info@yourdomain.com">info@yourdomain.com</a> <br> <a
                                        href="mailto:support@yourdomain.com">support@yourdomain.com</a>
                                </div>
                            </div><br>
                            <iframe width="100%" height="230" frameborder="0" style="border-radius:0px;" scrolling="no"
                                marginheight="0" marginwidth="0"
                                src="https://maps.google.co.in/maps?client=firefox-a&ie=UTF8&q=ethane+web+technologies&fb=1&gl=in&hq=ethane+web+technologies&cid=8183905562449910042&t=m&ll=28.639225,77.390442&spn=0.052731,0.154495&z=13&iwloc=A&output=embed"
                                style="border-radius:20px;"></iframe>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <!-- footer -->

        <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
            <footer>
                <div class="row my-5 justify-content-center py-5">
                    <div class="col-11">
                        <div class="row ">
                            <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                                <img src="./Free_Sample_By_Wix.jpg" alt="" style="height: 100px; height: 100px;">
                                <!-- <h3 class="text-muted mb-md-0 mb-5 bold-text">UpMeet.</h3> -->
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                                <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                                <ul class="list-unstyled">
                                    <li>Home</li>
                                    <li>About</li>
                                    <li>Blog</li>
                                    <li>Portfolio</li>
                                </ul>
                            </div>
                            <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                                <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b>ADDRESS</b></h6>
                                <p class="mb-1">605, RATAN ICON BUILDING</p>
                                <p>SEAWOODS SECTOR</p>
                            </div>
                        </div>
                        <div class="row ">
                            <div
                                class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                                <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"><i
                                            class="fa fa-facebook" aria-hidden="true"></i></span> <span class="mx-2"><i
                                            class="fa fa-linkedin-square" aria-hidden="true"></i></span> <span
                                        class="mx-2"><i class="fa fa-twitter" aria-hidden="true"></i></span> <span
                                        class="mx-2"><i class="fa fa-instagram" aria-hidden="true"></i></span> </p>
                                <small class="rights">
                                    <span>&#170;</span> UpMeet All Rights Reserved.</small>
                            </div>

                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>


    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function () {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>
    <!--  -->
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    -->
</body>

</html>